*.prefs
*.dat
*.snap

*.snap

.metadata/*

.metadata/.plugins/org.eclipse.core.resources/.projects/Project1/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/*

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs

.metadata/.plugins/org.eclipse.core.resources/.projects/Project1/.markers.snap

.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/ASReferenceIndex.index/segments_1

.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/ASReferenceIndex.index/segments.gen

.metadata/.log

Project1/.actionScriptProperties

.metadata/.plugins/org.eclipse.team.cvs.core/.running

*.lock

*.lock

.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/MXMLReferenceIndex/lucene-206fa2e54f0aa344697db0e0ff229077-write.lock
