*.prefs
*.dat
*.snap

*.snap

.metadata/*

.metadata/.plugins/org.eclipse.core.resources/.projects/Project1/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs

.metadata/.plugins/org.eclipse.core.resources/.projects/Project1/.markers.snap

.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/ASReferenceIndex.index/segments_1

.metadata/.plugins/com.adobe.flexbuilder.codemodel/searchCache/ASReferenceIndex.index/segments.gen

.metadata/.log

Project1/.actionScriptProperties
